@{
    Layout = null;
}


<form method="post" style="padding-left:50%;padding-top:5%">
      login<br />
    <input type="text" name="login">
    <br />

     Pass
    <br />
    <input type="password" name="pass" />
    <br />
    <input type="submit" value="Войти" style="margin-left:6%"/>
</form>